<!DOCTYPE html>
<html lang="en">
    <%- include("./header.ejs"); %>

    <body>
        <form action="/add" method="post">
            <select name="modelo" id="modelo">
                <option value="M4020" class="opt-modelo">M4020</option>
                <option value="M4070" class="opt-modelo">M4070</option>
                <option value="M4080" class="opt-modelo">M4080</option>
                <option value="M404" class="opt-modelo">M404</option>
                <option value="M428" class="opt-modelo">M428</option>
            </select>
    
            <!-- Adiciona um input hidden para enviar o valor selecionado via POST -->
            <input type="hidden" name="modeloSelecionado" id="modeloSelecionado">
    
            <br><br>
    
            <button type="submit">Enviar</button>
        </form>
    
        <script>
            document.getElementById("modelo").addEventListener("change", function() {
                // Obtém o valor selecionado
                var selectedModelo = this.value;
    
                // Define o valor do input hidden com o modelo selecionado
                document.getElementById("modeloSelecionado").value = selectedModelo;
            });
        </script>
    </body>
</html>