<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque de Peças</title>
    <link rel="stylesheet" href="omega.css">
</head>

<header>
    <center>
        <a href="/adcionar"><button>Adcionar Peça</button></a>
        <a href="/remover"><button>Utilizar Peça</button></a>
        <a href="/estoque"><button>Estoque de Peças</button></a>
    </center>
</header>