.container {
    width: 980px;
    margin: 0 auto;
    }
    
    @media only screen and (max-width: 768px) {
    .container {
    width: 100%;
    padding: 20px;
    }
    }
    
    @media only screen and (max-width: 480px) {
    .container {
    padding: 10px;
    }
    }


table{
    background-color: rgb(247, 244, 245); 
    margin: 0 auto; /* Define as margens horizontalmente como "auto" */
    
}

body{
    background-image: url('https://th.bing.com/th/id/OIP.Ewt9Hk5XJjEDizw_NvxDzAHaDt?pid=ImgDet&rs=1');
}
.modeloExtra{
    display: none;
}

.visivel{
    display: block;
}